extends partials/layout.jade

block content
  .container.content
    .row
      .col-md-6
        h2.title-v2 PERFIL DEL ESTUDIO
    .row
      .col-md-6
        p La característica fundamental de nuestro Estudio es brindar un servicio personalizado, de alto nivel técnico, para la solución de las necesidades de las empresas. 
        p Nuestra experiencia unida a un completo sentido de independencia profesional nos permite orientar al cliente y lograr una verdadera transformación de su negocio. 
        p Los nuevos emprendimientos y la organización de nuevas empresas nos motivan a un especial esfuerzo y dedicación. Hemos participado activamente en importantes proyectos realizados por personas o empresas radicadas en el exterior. Para ello contamos con manejo fluido de los idiomas inglés y alemán. 
        p La organización y alta capacitación de nuestro personal nos hace posible asistir a nuestros clientes en tiempo y forma con los requerimientos fiscales, laborales y contables. 
      .col-md-6
        img.img-responsive(src='assets/img/bg/16.jpg', alt='')

  .bg-grey
    .container.content-sm
      .text-center.margin-bottom-50
        h2.title-v2.title-center SOCIOS
        p.space-lg-hor
      .row.news-v1
        .col-md-6.md-margin-bottom-40
          .news-v1-in.bg-color-white
            img.img-responsive(src='assets/img/main/img12.jpg', alt='')
            h3.font-normal
              a(href='#') Eduardo E. Paulucci Cornejo
            p
              | Profesional egresado de la Facultad de Ciencias Económicas de la Universidad de Buenos Aires, graduado como Contador Público Nacional, matriculado en el Consejo Profesional de Ciencias Económicas desde el año 1985.

        .col-md-6.md-margin-bottom-40
          .news-v1-in.bg-color-white
            img.img-responsive(src='assets/img/main/img3.jpg', alt='')
            h3.font-normal
              a(href='#') Inés C. Lahusen
            p
              | Egresada de la Facultad de Ciencias Económicas de la Universidad de Buenos Aires, graduada como Contadora Pública Nacional, matriculada en el Consejo Profesional de Ciencias Económicas desde el año 1985.
 