// === Footer v1 ===
#footer-v1.footer-v1
  .footer
    .container
      .row
        // About
        .col-md-4.md-margin-bottom-40
          a(href='index.html')
            img#logo-footer.footer-logo(src='img/logo_small.jpg', alt='')
          p
            | Desde 1988, el Estudio Paulucci Lahusen se dedica a los servicios contables para PyMES, con una sólida estructura de asesoramiento en lo fiscal y financiero.
          p
            | Nuestro objetivo es asesorarlo en la administración eficiente de su empresa, ganando su confianza con un servicio personalizado, de alto nivel profesional, que permita cumplir con sus necesidades en forma precisa y oportuna.
        // End About
        // Link List
        .col-md-4.md-margin-bottom-40
          .headline
            h2 Links
          ul.list-unstyled.link-list
            li
              a(href='index.html') Sobre Nosotros
              i.fa.fa-angle-right
            li
              a(href='firm.html') El Estudio
              i.fa.fa-angle-right
            li
              a(href='services.html') Nuestros Servicios
              i.fa.fa-angle-right
            li
              a(href='contact.html') Contacto
              i.fa.fa-angle-right
        // End Link List
        // Address
        .col-md-4.map-img.md-margin-bottom-40
          .headline
            h2 Contáctenos
          address.md-margin-bottom-40
            | Tacuarí 131 6ªL 
            br
            |                             Ciudad Autónoma de Buenos Aires
            br
            |                             Argentina
            br
            |                             Tel: (+54 11) 5272-1159
            br
            |                             Fax: (+54 11) 5236-4977
            br
            |                             Email: 
            a(href='mailto:consultas@epl.com.ar') consultas@epl.com.ar
        // End Address
  // /footer
  .copyright
    .container
      .row
        .col-md-12
          p
            | 2015 © Todos los derechos reservados
  // /copyright
// === End Footer v1 ===
